
body{
    background-color: #f6f0e8;
}

.font{
    font-family: 'Autour One';
}

.mainContainer{
    font-family: 'Autour One';
    background-color: #e9e9e9;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    border-style: solid;
    border-color: #d3d3d3;
}

.secondContainer {
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      margin-top: 0.7em;
      margin-bottom: 0.7em;
}

.loginContainer{
    font-family: 'Autour One';
    background-color: #e9e9e9;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    border-style: solid;
    border-color: #d3d3d3;
}

.login-button {
  background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  background-repeat: no-repeat;
  filter: none;
  border: 1px solid #345578;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  color: #ffffff;
  background-color: #446e9b;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    overflow: visible;
}

.gameContainer{
   background-color: #faf7f3;
   border-style: solid;
   border-color: #d3d3d3;
   margin-top: 0.7em;
   margin-bottom: 0.7em;
   padding-top: 0.7em;
   padding-bottom: 0.7em;
   border-radius: 10px;
}

.center-text{
    display: block;
    margin: auto;
    text-align: center;
}

.square {
  height: 3em;
  width: 3em
}

.Cell__number0 {
    color: #ddd;
    height: 3em;
    width: 3em;}

.Cell__number1 {
    color: blue;
    height: 3em;
    width: 3em ;}

.Cell__number2 {
    color: green;
    height: 3em;
    width: 3em}

.Cell__number3 {
    height: 3em;
    width: 3em;
    color: red; }

.Cell__number4 {
    height: 3em;
    width: 3em;
    color: #2b4b65; }

.Cell__number5 {
    height: 3em;
    width: 3em;
    color: #4f2702; }

.Cell__number6 {
    height: 3em;
    width: 3em;
    color: #0b615e; }

.Cell__number7 {
    height: 3em;
    width: 3em;
    color: black; }

.Cell__number8 {
    height: 3em;
    width: 3em;
    color: #666; }

.Cell__number-1 {
    height: 3em;
    width: 3em;
    color: black;
    background: url("../assets/images/icn_bomb_01.png") no-repeat center center;}

/* Laura: Tal vez podrían agrupar todos los estilos comunes, como height y width, para no tener código duplicado */
